In [1]:
import pandas as pd
import seaborn as sbn

## Ingest Data

In [2]:
df = pd.read_csv('../data/RAW_recipes.csv')#, index_col='id'

In [3]:
ingredients_df = df[["id", "ingredients"]]
ingredients_df.head()

       id                                        ingredients
0  137739  ['winter squash', 'mexican seasoning', 'mixed ...
1   31490  ['prepared pizza crust', 'sausage patty', 'egg...
2  112140  ['ground beef', 'yellow onions', 'diced tomato...
3   59389  ['spreadable cheese with garlic and herbs', 'n...
4   44061  ['tomato juice', 'apple cider vinegar', 'sugar...

In [99]:
ingredients_df.count()

id             231637
ingredients    231637
dtype: int64

## Data Cleaning
### Explode the list of ingredients per recipe

In [5]:
from ast import literal_eval
# Convert to list so explode works
ingredients_df["ingredients"] = ingredients_df["ingredients"].apply(literal_eval)

ingredients_exploded_df = ingredients_df.explode("ingredients", ignore_index=True)

/tmp/ipykernel_926/1636790057.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ingredients_df["ingredients"] = ingredients_df["ingredients"].apply(literal_eval)

In [6]:
display(ingredients_exploded_df)

             id        ingredients
0        137739      winter squash
1        137739  mexican seasoning
2        137739        mixed spice
3        137739              honey
4        137739             butter
...         ...                ...
2096577  298509               eggs
2096578  298509              flour
2096579  298509    cream of tartar
2096580  298509        baking soda
2096581  298509    vanilla extract

[2096582 rows x 2 columns]

In [7]:
ingredients_exploded_df.groupby('ingredients').count()

                                            id
ingredients
1% fat buttermilk                           24
1% fat cottage cheese                       32
1% low-fat chocolate milk                    2
1% low-fat milk                            472
10 bean soup mix                             2
...                                        ...
zoom quick hot cereal                        1
zucchini                                  4591
zucchini with italian-style tomato sauce     3
zwieback toast                               5
zwieback toast crumbs                        1

[14942 rows x 1 columns]

In [8]:
# display(pd.get_dummies(ingredients_exploded_df["ingredients"]))

## Group by ingredient to get a feel for the least common

This helps to identify areas that perhaps could use some cleaning, such as removing brand names

In [9]:
ingredient_counts = ingredients_exploded_df.groupby("ingredients").count().rename(columns={"id": "count"})

In [10]:
ingredient_counts.sort_values("count", ascending=True).head()

                                       count
ingredients
zwieback toast crumbs                      1
frozen cranberry-apple juice cocktail      1
frozen corn souffle                        1
soyaki                                     1
frozen chopped mangoes                     1

Reset the index so we can split the data even more

In [11]:
ingredient_counts = ingredient_counts.reset_index()

Split the ingredient values so that we can easily remove words that are less necessary to the integrity of the recipe

In [12]:
split_values = ingredient_counts.ingredients.str.split().rename("words")

In [13]:
df_merged = pd.concat([ingredient_counts, split_values], axis=1)

In [14]:
display(df_merged)

,ingredients,count,words
0,1% fat buttermilk,24,"[1%, fat, buttermilk]"
1,1% fat cottage cheese,32,"[1%, fat, cottage, cheese]"
2,1% low-fat chocolate milk,2,"[1%, low-fat, chocolate, milk]"
3,1% low-fat milk,472,"[1%, low-fat, milk]"
4,10 bean soup mix,2,"[10, bean, soup, mix]"
...,...,...,...
14937,zoom quick hot cereal,1,"[zoom, quick, hot, cereal]"
14938,zucchini,4591,[zucchini]
14939,zucchini with italian-style tomato sauce,3,"[zucchini, with, italian-style, tomato, sauce]"
14940,zwieback toast,5,"[zwieback, toast]"
14941,zwieback toast crumbs,1,"[zwieback, toast, crumbs]"

In [15]:
all_words = df_merged.explode("words", ignore_index=True)

In [16]:
display(all_words.groupby("words").count().sort_values("count", ascending=False)[:10])

           ingredients  count
words
mix                649    649
cheese             562    562
sauce              449    449
chocolate          445    445
and                361    361
chicken            356    356
dried              327    327
cream              323    323
red                305    305
frozen             289    289

In [17]:
all_words[all_words['ingredients'].str.contains("cheese")]

                     ingredients  count    words
3          1% fat cottage cheese     32       1%
4          1% fat cottage cheese     32      fat
5          1% fat cottage cheese     32  cottage
6          1% fat cottage cheese     32   cheese
122            2% cheddar cheese     68       2%
...                          ...    ...      ...
40786  whole milk ricotta cheese     95   cheese
41377              yellow cheese     18   yellow
41378              yellow cheese     18   cheese
41528              yogurt cheese     19   yogurt
41529              yogurt cheese     19   cheese

[2089 rows x 3 columns]

### Remove descriptive words

In [83]:
df_merge_exploded = df_merged.explode('words')

adjectives_to_remove = ['kraft', 'low-carb', 'low-fat', 'prepared', 'fresh', 'frozen', 'grated', 'unsweetened',\
                        'reduced', 'fat', 'free', 'fat-free', 'sugar-free', 'boneless', 'and', 'salad', 'wishbone',\
                        'whole', 'dried', 'inch', "in.", "baby", "betty", "crocker", "reduced-fat", "cooked", 'extra',
                       'large', 'extra-large', 'dry', 'duncan', 'hines', 'best', 'unsalted', 'vegan', 'vegetarian', \
                       'whole', 'wheat', 'toasted', 'unbaked', 'unbleached', 'unsifted', 'boneless', 'breaded', 'canned',\
                       'lean', 'half', 'skinless'] 
adjectives_to_remove.extend([f"{i}%" for i in range(0,101)])
adjectives_to_remove.extend(["8-in", "8\"", "9-in", "9\""])
adjectives_to_remove.extend([f"{i}-inch" for i in range(1,24)])
adjectives_to_remove.extend([str(i) for i in range(0, 100)])
adjectives_to_remove.extend(["red", "yellow", "green", "brown"])

simplified_ingredient_list_df = df_merge_exploded[~df_merge_exploded['words'].isin(adjectives_to_remove)]

In [84]:
display(simplified_ingredient_list_df.groupby("words").count().sort_values("count", ascending=False)[:25])

           ingredients  count  new_name
words
mix                649    649       649
cheese             562    562       562
sauce              449    449       449
chocolate          445    445       445
chicken            356    356       356
cream              323    323       323
beef               284    284       284
white              265    265       265
pepper             250    250       250
juice              250    250       250
with               247    247       247
soup               243    243       243
bread              217    217       217
pork               207    207       207
rice               204    204       204
beans              203    203       203
powder             201    201       201
garlic             200    200       200
of                 188    188       188
sweet              182    182       182
tomato             178    178       178
butter             174    174       174
dressing           172    172       172
syrup              171    171       171
seasoning          168    168       168

In [85]:
simplified_ingredient_list_df.head()

                 ingredients  count       words        new_name
0          1% fat buttermilk     24  buttermilk      buttermilk
1      1% fat cottage cheese     32     cottage  cottage cheese
1      1% fat cottage cheese     32      cheese  cottage cheese
2  1% low-fat chocolate milk      2   chocolate  chocolate milk
2  1% low-fat chocolate milk      2        milk  chocolate milk

In [86]:
import inflection as inf

def combine_with_stop_words(x):
    arr = []
    for item in x:
        if item == "with":
            break
        if '\'' in item:
            continue
        arr.append(inf.singularize(item))
            
    return ' '.join(arr)

new_ingredient_series = simplified_ingredient_list_df.groupby(level=0, axis=0)['words'].agg(lambda x: combine_with_stop_words(x))

In [87]:
new_ingredient_series

0                   buttermilk
1               cottage cheese
2               chocolate milk
3                         milk
4                bean soup mix
                 ...
14937    zoom quick hot cereal
14938                 zucchini
14939                 zucchini
14940           zwieback toast
14941     zwieback toast crumb
Name: words, Length: 14939, dtype: object

In [88]:
df_merged["new_name"] = new_ingredient_series

In [89]:
df_merged

,ingredients,count,words,new_name
0,1% fat buttermilk,24,"[1%, fat, buttermilk]",buttermilk
1,1% fat cottage cheese,32,"[1%, fat, cottage, cheese]",cottage cheese
2,1% low-fat chocolate milk,2,"[1%, low-fat, chocolate, milk]",chocolate milk
3,1% low-fat milk,472,"[1%, low-fat, milk]",milk
4,10 bean soup mix,2,"[10, bean, soup, mix]",bean soup mix
...,...,...,...,...
14937,zoom quick hot cereal,1,"[zoom, quick, hot, cereal]",zoom quick hot cereal
14938,zucchini,4591,[zucchini],zucchini
14939,zucchini with italian-style tomato sauce,3,"[zucchini, with, italian-style, tomato, sauce]",zucchini
14940,zwieback toast,5,"[zwieback, toast]",zwieback toast
14941,zwieback toast crumbs,1,"[zwieback, toast, crumbs]",zwieback toast crumb

In [90]:
pd.unique(df_merged.ingredients).shape

(14942,)

In [91]:
pd.unique(df_merged.new_name).shape

(11325,)

In [92]:
pd.unique(df_merged.new_name)[1000:1400]

array(['blueberry', 'blueberry in heavy syrup',
       'blueberry in light syrup', 'blueberry bagel', 'blueberry filling',
       'blueberry gelatin', 'blueberry ice cream', 'blueberry jam',
       'blueberry juice', 'blueberry liqueur', 'blueberry muffin mix',
       'blueberry pie filling', 'blueberry preserf', 'blueberry sauce',
       'blueberry schnapp', 'blueberry sorbet', 'blueberry tea bag',
       'blueberry vinegar', 'blueberry vodka', 'blueberry wine',
       'blueberry yogurt', 'blueberry-flavored syrup', 'bluefish',
       'bluefish fillet', 'blush wine', 'blush wine vinaigrette dressing',
       'boar', 'bob evan sausage',
       'mill gluten-free all-purpose baking flour', 'boboli pizza crust',
       'boboli thin pizza shell', 'boca meatless ground burger',
       'bocconcini', 'bock beer', 'bockwurst', 'boil-in-the-bag rice',
       'boiled ham', 'boiled potato', 'boiling onion', 'boiling potato',
       'boiling water', 'bolillo roll', 'bologna', 'bologna sausage',
       'bolognese sauce', 'bombay duck', 'bon appetit seasoning mix',
       'bone-in beef rib roast', 'bone-in ham', 'bone-in pork roast',
       'boned lamb', 'boned leg of veal', 'boned veal breast',
       'atlantic salmon fillet', 'beef chuck roast',
       'beef chuck shoulder pot roast', 'beef chuck steak', 'beef cube',
       'beef loin', 'beef rump roast', 'beef top loin steak',
       'beef top round', 'beef top sirloin steak', 'boston pork roast',
       'bottom round roast', 'butterfly pork loin chop',
       'center cut pork chop', 'center cut pork loin roast',
       'chicken breast', 'chicken breast half', 'chicken thigh',
       'chuck roast', 'country-style rib', 'cross-rib roast',
       'duck breast', 'duck breast half', 'duck leg', 'duck meat',
       'eye of round beef steak', 'fish fillet', 'lamb', 'lamb loin',
       'lamb roast', 'lamb shoulder', 'lamb stewing meat', 'pork',
       'leg of lamb', 'pork blade roast', 'pork butt',
       'pork butt shank steak', 'pork chop', 'pork cushion roast',
       'pork cutlet', 'pork filet', 'pork loin', 'pork loin chop',
       'pork loin roast', 'pork loin steak', 'pork rib roast', 'pork rib',
       'pork roast', 'pork shoulder', 'pork sirloin',
       'pork sirloin tip roast', 'pork steak', 'pork top loin', 'rib-eye',
       'rib-eye roast', 'rib-eye steak', 'rib', 'round roast',
       'round steak', 'salmon fillet', 'shell steak', 'short rib',
       'sirloin', 'sirloin pork chop', 'sirloin steak',
       'sirloin tip roast', 'chicken breast in teriyaki sauce',
       'chicken cutlet', 'chicken leg', 'chicken piece', 'cod',
       'pheasant breast', 'pink salmon', 'salmon',
       'smoked chicken breast', 'turkey thigh', 'skinned chicken breast',
       'steak', 'strip steak', 'turkey breast', 'turkey breast half',
       'veal loin', 'veal rump roast', 'veal shoulder', 'veal steak',
       'venison sirloin', 'white fish', 'boniato', 'bonito flake',
       'bonito stock', 'bonito tuna', 'farm strawberry hill wine',
       'borage', 'borage leafe', 'borax', 'borlotti bean', 'bosc pear',
       'boston baked pork bean', 'boston butt', 'boston lettuce',
       'boston lettuce leaf', 'boston lettuce leafe',
       'bottled chili sauce', 'bottled clam broth', 'bottled clam juice',
       'bottled garlic', 'bottled hot pepper sauce',
       'bottled lemon juice', 'bottled vinaigrette dressing',
       'bottled water', 'bottlegourd', 'bottom round beef roast',
       'bottom round steak', 'boucheron cheese', 'boudin sausage',
       'bouillon', 'bouillon cube', 'boule', 'bouquet garni', 'bourbon',
       'bourbon biscuit', 'bourbon grilling sauce', 'bourbon vanilla',
       'bourbon whiskey', 'boursin cheese', 'bovril powder',
       'bow tie pastum', 'boysenberry', 'boysenberry jam',
       'boysenberry syrup', 'braeburn apple', 'bragg amino acid',
       'bragg amino', 'bragg liquid amino', 'bran bud', 'bran flake',
       'bran flour', 'bran-rich flour', 'brandewijn',
       'brandied hard sauce', 'brandied peach', 'brandy',
       'brandy extract', 'brandy flavoring', 'branston pickle',
       'bratwurst', 'braunschweiger liver sausage',
       'braunschweiger sausage', 'brazil nut', 'bread',
       'bread butter pickle juice', 'bread butter pickle', 'bread bowl',
       'bread cube', 'bread dough', 'bread dressing', 'bread enhancer',
       'bread flour', 'bread improver', 'bread machine dough',
       'bread machine flour', 'bread machine quick-acting active yeast',
       'bread machine yeast', 'bread mix',
       'bread mix for the bread machine', 'bread pizza crust',
       'bread pudding', 'bread round', 'bread spice',
       'bread stuffing mix', 'breadcrumb', 'chicken nugget',
       'chicken patty', 'chicken tender', 'breadfruit', 'breading',
       'breadstick', 'breakfast cereal', 'breakfast cookie',
       'breakfast sausage', 'breakfast sausage link',
       'breakfast sausage patty', 'sour cream', 'bream', 'breast of veal',
       'bresaola', 'brewed black tea',
       'brewed chocolate almond flavored coffee',
       'brewed cinnamon hazelnut coffee', 'brewed coffee',
       'brewed cranberry tea', 'brewed decaffeinated coffee',
       'brewed espresso', 'brewed tea', 'brewed hibiscu tea',
       'brewed orange spice tea', 'brick cheese', 'brickle bit',
       'brie cheese', 'brie round', 'brine', 'brine-cured black olife',
       'brinjal', 'brioche bread', 'brioche roll', 'brisket',
       'bristol cream', 'broad bean', 'broad egg noodle', 'broccoflower',
       'broccoli', 'broccoli cheese flavored rice mix',
       'broccoli carrot water chestnut mix', 'broccoli coleslaw mix',
       'broccoli floret', 'broccoli raab', 'broccoli rabe',
       'broccoli slaw mix', 'broccoli spear', 'broccoli sprout',
       'broccoli stem', 'broccolini', 'broccosprout', 'broiler',
       'broiler chicken', 'broiler-fryer chicken', 'broken pretzel',
       'bronze scuppernong', 'bronzino', 'broth', 'broth seasoning',
       'serve roll', 'serve sausage', 'wild rice mix', 'bouquet sauce',
       'button mushroom', 'cardamom pod', 'flour', 'gravy', 'gravy mix',
       'lentil', 'mustard', 'mustard seed', 'onion soup mix', 'paper bag',
       'rice', 'rice flour', 'rice miso', 'rice pancake mix',
       'rice pastum', 'rice syrup', 'rice udon noodle', 'rice vinegar',
       'sauce', 'sesame seed', 'stock', 'sugar', 'sugar baked bean',
       'sugar cinnamon syrup', 'sugar cube', 'sugar ham',
       'sugar substitute', 'sugar twin', 'brownberry herb stuffing mix',
       'brownie', 'brownie mix', 'browny', 'browning sauce',
       'brummel spread', 'brussel sprout', 'brut champagne', 'bubblegum',
       'bucatini pastum', 'buckwheat flake', 'buckwheat flour',
       'buckwheat groat', 'buckwheat honey', 'buckwheat noodle',
       'buckwheat pancake mix', 'bud light beer', 'buddig beef',
       'budweiser beer', 'buffalo', 'buffalo flank steak',
       'buffalo mozzarella', 'buffalo roast', 'buffalo steak',
       'buffalo stew meat', 'buffalo wing sauce',
       'buffalo wing seasoning blend', 'bugle nacho flavor snack',
       'bugle original flavor snack', 'bulb of garlic', 'bulb shallot',
       'bulgar', 'bulgarian yogurt', 'bulgur', 'bulk italian sausage',
       'bulk pork sausage', 'bulk sausage', 'bull testicle',
       'bull eye bold barbecue sauce', 'bumble bee oyster', 'bun',
       'bunny track ice cream', 'buratum cheese', 'burdock root',
       'burghul', 'burgundy cooking wine', 'burgundy snail',
       'burgundy wine', 'burnet root', 'burnt sugar flavoring',
       'burratum cheese', 'burrito seasoning mix',
       'burrito-size flour tortilla', 'burrito-size tortilla', 'burrito',
       'bush bean', 'bush tomato', 'bushmill whiskey', 'butter',
       'butter brickle', 'butter brickle ice cream', 'butter bud',
       'butter cake mix', 'butter chicken paste', 'butter cookie',
       'butter cooky', 'butter croissant', 'butter flavor crisco',
       'butter flavor extract', 'butter flavor shortening',
       'butter flavored cracker', 'butter flavoring', 'butter lettuce',
       'butter lettuce leaf', 'butter lettuce leafe', 'butter mint',
       'butter pea', 'butter pecan cake mix', 'butter pecan flavoring',
       'butter pecan ice cream', 'butter pound cake', 'butter powder',
       'butter recipe cake mix', 'butter rum syrup'], dtype=object)

## One-hot encode

In [96]:
# pd.get_dummies(df_merged['new_name'], prefix='b')

## TODO
* Join w/ ingredients_exploded_df on ingredients
* Re-do the grouping
* one-hot encode